.nav {
	margin-top:200px;
	padding-left:20px;
	color:#ffffff;
	font-size: 25px;
	font-weight:bolder;
}

body
{
background-image: url("/users/extusr/sukalyan14/eklavya/Server/Server front end/Aakash/binary.jpg");
}